{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="text-right">
    <a href="{% url 'ngo_download_view' %}">Download NGO list</a><br>
    <form style="margin-right: 0;" action="{% url 'ngo_download_view' %}" method="get" name="district">{% csrf_token %}
      NGO list by District: {{ form.district}}
      <input style="margin-left: 1%;" type="submit" value="Download" />
    </form>
  </div>

<p class="text-center">
  <h1 class="text-center">NGO/Company Registration</h1>
  <h2 class="text-center">വൊളന്‍റീയര്‍ ആകാന്‍</h2>
</p>
  <form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>

{% endblock %}
